/* Extra small devices (portrait phones, less than 320px) */
@media(max-width: 320px) {
    .social-list {
        margin-left: -50px !important;
    }

}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width:420px) and (max-width: 570px) {
    .contacts-row {
        margin-left: 40px;
    }
}
/* medium devices (landscape phones upto 991px) */
@media (max-width: 991px) {
    .about-short-content {
        padding-left: 0px !important;
    }

    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 575px) and (max-width: 767px) {
   .contacts-row {
       margin-left: 100px;
   }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 

   
 }
/* Medium devices (tablets, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
   
 }

/* Large devices (desktops and laptop) */
@media (max-width: 1199px) {
    
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   
 }


 @media(min-width: 991px) {
    .m-nav {
        margin-left: 295px !important;
        width: 100% !important;
    }
 }
 /* For Train large device(large desktops, 1200px and up */
 @media(min-width: 1200px) and (max-width: 1399px) {
 }
